extends layout.pug
block title
    title Verification Sent!

block title-header
    h1.title-header Next step, verify your email!

block content
    p Thanks for signing up! A verification email has been sent. Before you can start receiving my emails, you must click the link in the verification email. If you don't see the email, please check your spam folder!