extends layout.pug
block title
    title Confirmation Sent!

block title-header
    span A confirmation email has been sent!

block content
    p Before you can start receiving my emails, you must click the link in the confirmation email that I sent you. If you don't see the email, please check your spam folder!