extends layout.pug
block title
    title Success!

block title-header
    span Your email has been confirmed.

block content
    p You will now start receiving emails from me. Thank you for being interested in my life!