extends layout.pug
block title
    title Success!

block title-header
    span Success!

block content
    p You were added to my mailing list. Thanks for being interested in my life! You will receive a confirmation email soon.